@model Capstone_HairSalon.Models.RentTransaction

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top: 20px;"></h2>

<div>
    <h4>Rent Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentPayment.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentPayment.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalFee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
